@let actions = allowedActions();

<div class="flex flex-wrap flex-row gap-2 p-2">
  @for(item of items(); track item.id) {
  <app-icon-item [item]="item" [compareItem]="compareWithItem(item)" (click)="itemClicked.emit(item)" [tp]="contextMenu"
    [tpData]="item" tpVariation="contextMenu" [class.cursor-pointer]="clickableItems()"></app-icon-item>

  <ng-template #contextMenu let-hide let-item="data">
    @if(actions.length > 0) {
    <ul class="menu bg-base-200 rounded-box w-56 p-0">
      <li class="menu-title">{{ item.name }}</li>

      @if(actions.includes('Salvage')) {
      <li><a (click)="salvageItem(item)">Salvage for {{ salvageValue(item) | number }} Mana</a></li>
      }
    </ul>
    }
  </ng-template>

  } @empty {
  <div>No matching items in inventory.</div>
  }
</div>
