<div class="game-container relative">
  <app-game-map-pixi class="absolute inset-0 map-layer"></app-game-map-pixi>

  <app-game-camera-controller
    class="absolute inset-0 camera-layer pointer-events-none"
  ></app-game-camera-controller>

  @if(showOptions()) {
  <div class="absolute inset-0 p-8">
    <app-panel-options class="absolute inset-0 panel-layer"></app-panel-options>
  </div>
  } @if(showHeroes()) {
  <div class="absolute inset-0 p-8">
    <app-panel-heroes class="absolute inset-0 panel-layer"></app-panel-heroes>
  </div>
  } @if(showInventory()) {
  <div class="absolute inset-0 p-8">
    <app-panel-inventory
      class="absolute inset-0 panel-layer"
    ></app-panel-inventory>
  </div>
  } @if(showCombat()) {
  <div class="absolute inset-0 p-8">
    <app-panel-combat class="absolute inset-0 panel-layer"></app-panel-combat>
  </div>
  } @if(showLocation(); as location) {
  <div class="absolute inset-0 p-8">
    <app-panel-location
      class="absolute inset-0 panel-layer"
      [location]="location"
    ></app-panel-location>
  </div>
  }
</div>
