<div class="game-container relative">
  <app-game-map class="absolute top-0 left-0 right-0 bottom-0 z-10"></app-game-map>
  <app-game-camera-controller class="absolute top-0 left-0 right-0 bottom-0 z-20"></app-game-camera-controller>

  @if(showOptions()) {
  <app-navbar-menu-options class="absolute top-0 left-0 right-0 bottom-0 z-50"></app-navbar-menu-options>
  }

  @if(showHeroes()) {
  <app-navbar-menu-heroes class="absolute top-0 left-0 right-0 bottom-0 z-50"></app-navbar-menu-heroes>
  }
</div>