<div class="navbar bg-base-100 relative flex py-0">
  <div class="navbar-start flex-1">

  </div>

  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1 flex gap-2">

      <li class="action-button" appRequireSetup>
        <button class="btn btn-xs btn-accent" [tp]="'Heroes'" (click)="toggleHeroes()">
          <app-icon name="gameAges" size="2em" color="#000"></app-icon>
        </button>
      </li>

      <li class="action-button" appRequireSetup>
        <button class="btn btn-xs btn-accent" [tp]="'Focus Camera'" (click)="focusCamera()">
          <app-icon name="gameHumanTarget" size="2em" color="#000"></app-icon>
        </button>
      </li>

      <li class="action-button" appRequireSetup>
        <button class="btn btn-xs btn-accent" [tp]="'Options'" (click)="toggleOptions()">
          <app-icon name="tablerSettings" size="2em" color="#000"></app-icon>
        </button>
      </li>

      <li class="action-button">
        <a class="btn btn-xs btn-accent" [swal]="leaveSwal" [tp]="'Go Back'">
          <app-icon name="gameExitDoor" size="2em" color="#000"></app-icon>
        </a>
      </li>
    </ul>
  </div>
</div>

<swal #leaveSwal title="Go back to main menu?" icon="question" confirmButtonText="Yes, go back"
  cancelButtonText="No, stay here" (confirm)="router.navigate(['..'])">
</swal>