@let currentTab = activeTab();

<app-card-page>
  <span header>Options</span>

  <div pageactions>
    <app-connect-buttons></app-connect-buttons>

    <button class="ml-8 btn btn-clear" (click)="closeOptions()">
      <app-icon name="tablerX"></app-icon>
    </button>
  </div>

  <div role="tablist" class="tabs tabs-boxed">
    @for(tab of tabs; track $index) {
    <button role="tab" class="tab" [class.tab-active]="currentTab === tab.link" (click)="activeTab.set(tab.link)"
      (keydown)="activeTab.set(tab.link)" [appAnalyticsClick]="'Options:Navigate:' + tab.name"
      [class.hidden]="!tab.showIf()">
      {{ tab.name }}
    </button>
    }
  </div>

  <div class="p-3">
    @switch(currentTab) {
    @case('ui') {
    <app-panel-options-ui></app-panel-options-ui>
    }

    @case('debug') {
    <app-panel-options-debug></app-panel-options-debug>
    }

    @case('savefile') {
    <app-panel-options-savefile></app-panel-options-savefile>
    }
    }
  </div>

</app-card-page>