<div class="w-full h-full relative">

  <!-- top -->
  <div class="camera-controller absolute top-0 left-0 right-0 w-full h-4" (mouseenter)="startScroll(0, -1)"
    (mouseleave)="stopScroll()"></div>

  <!-- left -->
  <div class="camera-controller absolute top-0 bottom-0 left-0 w-4 h-full" (mouseenter)="startScroll(-1, 0)"
    (mouseleave)="stopScroll()"></div>

  <!-- right -->
  <div class="camera-controller absolute top-0 bottom-0 right-0 w-4 h-full" (mouseenter)="startScroll(1, 0)"
    (mouseleave)="stopScroll()"></div>

  <!-- bottom -->
  <div class="camera-controller absolute bottom-0 left-0 right-0 w-full h-4" (mouseenter)="startScroll(0, 1)"
    (mouseleave)="stopScroll()"></div>

  <!-- top left -->
  <div class="camera-controller absolute top-0 left-0 w-1/5 h-4" (mouseenter)="startScroll(-1, -1)"
    (mouseleave)="stopScroll()"></div>
  <div class="camera-controller absolute top-0 left-0 h-1/5 w-4" (mouseenter)="startScroll(-1, -1)"
    (mouseleave)="stopScroll()"></div>

  <!-- top right -->
  <div class="camera-controller absolute top-0 right-0 w-1/5 h-4" (mouseenter)="startScroll(1, -1)"
    (mouseleave)="stopScroll()"></div>
  <div class="camera-controller absolute top-0 right-0 h-1/5 w-4" (mouseenter)="startScroll(1, -1)"
    (mouseleave)="stopScroll()"></div>

  <!-- bottom left -->
  <div class="camera-controller absolute bottom-0 left-0 w-1/5 h-4" (mouseenter)="startScroll(-1, 1)"
    (mouseleave)="stopScroll()"></div>
  <div class="camera-controller absolute bottom-0 left-0 h-1/5 w-4" (mouseenter)="startScroll(-1, 1)"
    (mouseleave)="stopScroll()"></div>

  <!-- bottom right -->
  <div class="camera-controller absolute bottom-0 right-0 w-1/5 h-4" (mouseenter)="startScroll(1, 1)"
    (mouseleave)="stopScroll()"></div>
  <div class="camera-controller absolute bottom-0 right-0 h-1/5 w-4" (mouseenter)="startScroll(1, 1)"
    (mouseleave)="stopScroll()"></div>

</div>