@plugin "daisyui" {
  themes: light, dark --default --prefersdark, cupcake, synthwave, halloween,
    forest, black, luxury, dracula, business, night, coffee, sunset, dim, light,
    cupcake, bumblebee, emerald, corporate, retro, cyberpunk, valentine, garden,
    lofi, pastel, fantasy, wireframe, cmyk, autumn, acid, lemonade, winter, nord;
}

.navbar {
  padding: 0;
  min-height: 2rem;
}

.tippy-variation-contextMenu .tippy-box {
  background-color: unset;
  color: unset;
}
