@let itemData = item();

<div class="h-[64px] w-[64px] bg-gray-400 outline outline-2 z-0 absolute"
  [class.outline-white-900]="itemData.rarity === 'common'" [class.outline-green-400]="itemData.rarity === 'uncommon'"
  [class.outline-blue-400]="itemData.rarity === 'rare'" [class.outline-purple-400]="itemData.rarity === 'mystical'"
  [class.outline-yellow-400]="itemData.rarity === 'legendary'" [class.outline-rose-400]="itemData.rarity === 'unique'">
</div>

<app-atlas-image class="z-10 absolute" [assetName]="itemData.sprite" [spritesheet]="itemData.__type"></app-atlas-image>
