@let itemData = item();

<div class="h-[64px] w-[64px] bg-gray-400 outline outline-2 z-0 absolute"
  [class.outline-white-900]="itemData.rarity === 'Common'" [class.outline-green-400]="itemData.rarity === 'Uncommon'"
  [class.outline-blue-400]="itemData.rarity === 'Rare'" [class.outline-purple-400]="itemData.rarity === 'Mystical'"
  [class.outline-yellow-400]="itemData.rarity === 'Legendary'" [class.outline-rose-400]="itemData.rarity === 'Unique'">
</div>

<app-atlas-image class="z-10 absolute" [assetName]="itemData.sprite" [spritesheet]="itemData.__type"
  [tp]="itemInfo"></app-atlas-image>

<div class="z-20 absolute bottom-0 left-[2px] text-xs font-bold italic text-black text-shadow-white">
  Lv. {{ itemData.dropLevel }}
</div>

<ng-template #itemInfo let-hide>
  <h3 class="text-lg">{{ itemData.name }}</h3>

  <div class="mt-3">
    <div>
      Level {{ itemData.dropLevel }} {{ itemData.rarity }} {{ itemData.__type }}
    </div>

    @if(itemData.baseStats.health) {
    <app-marker-stat stat="health" [value]="itemData.baseStats.health"></app-marker-stat>
    }

    @if(itemData.baseStats.force) {
    <app-marker-stat stat="force" [value]="itemData.baseStats.force"></app-marker-stat>
    }

    @if(itemData.baseStats.aura) {
    <app-marker-stat stat="aura" [value]="itemData.baseStats.aura"></app-marker-stat>
    }

    @if(itemData.baseStats.speed) {
    <app-marker-stat stat="speed" [value]="itemData.baseStats.speed"></app-marker-stat>
    }
  </div>
</ng-template>
