@let claimData = claims();
@let maxData = maxClaims();

<table>
  <tbody>
    <tr>
      <td>
        <app-atlas-image spritesheet="world-object" [assetName]="'0020'"></app-atlas-image>
      </td>

      <td class="pl-2">
        {{ claimData.cave }} / {{ maxData.cave }} caves claimed
      </td>
    </tr>

    <tr>
      <td>
        <app-atlas-image spritesheet="world-object" [assetName]="'0023'"></app-atlas-image>
      </td>

      <td class="pl-2">
        {{ claimData.dungeon }} / {{ maxData.dungeon }} dungeons claimed
      </td>
    </tr>

    <tr>
      <td>
        <app-atlas-image spritesheet="world-object" [assetName]="'0000'"></app-atlas-image>
      </td>

      <td class="pl-2">
        {{ claimData.castle }} / {{ maxData.castle }} castles claimed
      </td>
    </tr>

    <tr>
      <td>
        <app-atlas-image spritesheet="world-object" [assetName]="'0022'"></app-atlas-image>
      </td>

      <td class="pl-2">
        {{ claimData.village }} / {{ maxData.village }} villages claimed
      </td>
    </tr>

    <tr>
      <td>
        <app-atlas-image spritesheet="world-object" [assetName]="'0021'"></app-atlas-image>
      </td>

      <td class="pl-2">
        {{ claimData.town }} / {{ maxData.town }} towns claimed
      </td>
    </tr>
  </tbody>
</table>
