<h3 class="text-lg">Spells</h3>

<div class="flex flex-row gap-2">
  @for(spellSlot of maxSkills() | repeat; track spellSlot) {
  <div
    class="bg-gray-400 outline outline-2 h-[64px] w-[64px] cursor-pointer flex justify-center items-center text-black text-xs"
    [class.animate-pulse]="highlightSlot() === spellSlot" (click)="slotClick.emit(spellSlot)"
    (contextmenu)="slotRightClick.emit(spellSlot)">
    @if(hero().skills[spellSlot]; as skill) {
    <app-icon-skill [skill]="skill"></app-icon-skill>
    } @else {
    Spell #{{ spellSlot + 1 }}
    }
  </div>
  }
</div>
