@let nodeData = node();

<app-atlas-image class="terrain pointer-events-none" spritesheet="world-terrain"
  [assetName]="nodeData.sprite"></app-atlas-image>

@if(nodeData.objectSprite) {
<app-atlas-image class="object cursor-pointer" (click)="investigateLocation()" spritesheet="world-object"
  [assetName]="nodeData.objectSprite" [tp]="nodeData.name"></app-atlas-image>

<div class="absolute bottom-0 left-0 z-40 pointer-events-none">
  <app-marker-location-claim [location]="nodeData"></app-marker-location-claim>
</div>
}

<div class="absolute bottom-0 left-0 pointer-events-none" [appShowIfOption]="'debugMapNodePositions'">
  {{ nodeData.x }}, {{ nodeData.y }}
</div>
